<div class="container">
  <h2>Editar Abonado</h2>
  <form (ngSubmit)="guardarCambios()">
    <!-- Nombres -->
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input
        type="text"
        id="nombre"
        class="form-control"
        [(ngModel)]="abonado.nombres"
        name="nombres"
        required
      />
    </div>

    <!-- Apellidos -->
    <div class="form-group">
      <label for="apellido">Apellido</label>
      <input
        type="text"
        id="apellido"
        class="form-control"
        [(ngModel)]="abonado.apellidos"
        name="apellidos"
        required
      />
    </div>

    <!-- DNI -->
    <div class="form-group">
      <label for="dni">DNI</label>
      <input
        type="number"
        id="dni"
        class="form-control"
        [(ngModel)]="abonado.dni"
        name="dni"
        required
      />
    </div>

    <!-- Mail -->
    <div class="form-group">
      <label for="mail">Email</label>
      <input
        type="email"
        id="mail"
        class="form-control"
        [(ngModel)]="abonado.mail"
        name="mail"
        required
      />
    </div>

    <!-- Dirección -->
    <div class="form-group">
      <label for="direccion">Dirección</label>
      <select
        id="direccion"
        class="form-control"
        [(ngModel)]="abonado.direccion"
        name="direccion"
        required
      >
        <option *ngFor="let calle of calles" [value]="calle._id">
          {{ calle.nombre }}
        </option>
      </select>
    </div>

    <!-- Entre Calle 1 -->
    <div class="form-group">
      <label for="entrecalle1">Entre Calle 1</label>
      <select
        id="entrecalle1"
        class="form-control"
        [(ngModel)]="abonado.entrecalle1"
        name="entrecalle1"
        required
      >
        <option *ngFor="let calle of calles" [value]="calle._id">
          {{ calle.nombre }}
        </option>
      </select>
    </div>

    <!-- Entre Calle 2 -->
    <div class="form-group">
      <label for="entrecalle2">Entre Calle 2</label>
      <select
        id="entrecalle2"
        class="form-control"
        [(ngModel)]="abonado.entrecalle2"
        name="entrecalle2"
        required
      >
        <option *ngFor="let calle of calles" [value]="calle._id">
          {{ calle.nombre }}
        </option>
      </select>
    </div>

    <!-- Contacto -->
    <div class="form-group">
      <label for="contacto">Contacto</label>
      <input
        type="text"
        id="contacto"
        class="form-control"
        [(ngModel)]="abonado.contacto"
        name="contacto"
        required
      />
    </div>

    <!-- Referencia -->
    <div class="form-group">
      <label for="referencia">Referencia</label>
      <textarea
        id="referencia"
        class="form-control"
        [(ngModel)]="abonado.referencia"
        name="referencia"
      ></textarea>
    </div>

    <!-- Botones -->
    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    <button
      type="button"
      class="btn btn-secondary"
      (click)="_router.navigate(['dashboard/abonados'])"
    >
      Cancelar
    </button>
  </form>
</div>
