<div class="container-fluid">
  <section class="row">
    <div class="col col-xl-9 ml-4 mr-4">
      <!-- Page title-->
      <div class="border-bottom mb-5">
        <h1 class="mt-2 mt-md-4 mb-3 pt-5">Pago</h1>
        <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
          <p class="text-muted pb-1">Este módulo crea pagos para el sistema.</p>
        </div>
      </div>
      <form #updateForm="ngForm" (ngSubmit)="update(updateForm)">
        <div class="card box-shadow-sm">
          <div class="card-header">
            <h5 style="margin-bottom: 0px">Crear Pago</h5>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-4 form-group">
                <label for="nombre" class="form-label">Nombre</label>
                <input
                  class="form-control"
                  type="text"
                  placeholder="Nombre"
                  name="nombre"
                  [(ngModel)]="pago.nombre"
                  required
                  autocomplete="off"
                />
              </div>

              <div class="col-md-4 form-group">
                <label for="dni" class="form-label">DNI</label>
                <input
                  class="form-control"
                  type="number"
                  placeholder="DNI"
                  name="dni"
                  [(ngModel)]="pago.dni"
                  autocomplete="off"
                />
              </div>

              <div class="col-md-4 form-group">
                <label for="contacto" class="form-label">Contacto</label>
                <input
                  class="form-control"
                  type="text"
                  placeholder="Contacto"
                  name="contacto"
                  [(ngModel)]="pago.contacto"
                  required
                  autocomplete="off"
                />
              </div>

              <div class="col-md-4 form-group">
                <label for="codigo_de_transaccion" class="form-label"
                  >Código de Transacción</label
                >
                <input
                  class="form-control"
                  type="text"
                  placeholder="Código de Transacción"
                  name="codigo_de_transaccion"
                  [(ngModel)]="pago.codigo_de_transaccion"
                  autocomplete="off"
                />
              </div>

              <div class="col-md-4 form-group">
                <label for="email" class="form-label">Email</label>
                <input
                  class="form-control"
                  type="email"
                  placeholder="Email"
                  name="email"
                  [(ngModel)]="pago.email"
                  autocomplete="off"
                />
              </div>

              <div class="col-md-4 form-group">
                <label for="medio_de_pago" class="form-label"
                  >Método de Pago</label
                >
                <select
                  class="form-control"
                  name="medio_de_pago"
                  [(ngModel)]="pago.medio_de_pago"
                  required
                >
                  <option value="Efectivo">Efectivo</option>
                  <option value="Debito">Débito</option>
                  <option value="Credito">Crédito</option>
                  <option value="Mercado Pago">Mercado Pago</option>
                  <option value="Transferencia">Transferencia</option>
                </select>
              </div>

              <div class="col-md-4 form-group">
                <label for="monto" class="form-label">Monto</label>
                <input
                  class="form-control"
                  type="number"
                  placeholder="Monto"
                  name="monto"
                  [(ngModel)]="pago.monto"
                  [value]="20000"
                  required
                  autocomplete="off"
                />
              </div>
            </div>
          </div>
          <div class="card-footer">
            <button class="btn btn-primary mr-3">Actualizar Pago</button>
            <button class="btn btn-warning" [routerLink]="['/dashboard/pagos']">
              Regresar
            </button>
          </div>
        </div>
      </form>
    </div>
  </section>
</div>
